<article class="cw-container">
  <h1>CollaboWriters</h1>
  <div class="mdl-grid">
    <div class="mdl-cell" ng-repeat="profile in vm.profiles">
      <div class="demo-card-square mdl-card cw-card mdl-shadow--2dp">
      <div class="mdl-card__title" ng-style="{ 'background-image' : 'url({{profile.avatar}})' , 'background-size' : 'cover' }">
        <h2 class="mdl-card__title-text">{{profile.first_name}} {{profile.last_name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p class="user-preview-header" ng-hide="profile.stories.length > 0">No stories</p>
        <p class="user-preview-header" ng-show="profile.stories.length > 0">Latest stories...</p>
        <ul class="user-stories" ng-repeat="story in profile.stories | limitTo:2">
          <li><a ui-sref="story_detail({id: story.id})">{{story.title}}</a></li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a ui-sref="profile({id: profile.id})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Meet {{profile.first_name}}
        </a>
      </div>
    </div>
  </div>
</article>
