<article class="cw-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="cw-card-large mdl-shadow--2dp">
        <section>
          <ul>
            <li>First: {{vm.user.first_name}}</li>
            <li>Last: {{vm.user.last_name}}</li>
            <li>Handle: {{vm.user.handle}}</li>
            <li>Location: {{vm.user.location}}</li>
            <li>CollaboWriter Since: {{vm.user.created_at}}</li>
            <li>Bio: {{vm.user.bio}}</li>
            <li>Email: {{vm.user.email}}</li>
            <li>Avatar: </li>
          </ul>
          <img ng-src="{{vm.user.avatar}}" class="cw-circle" alt="{{vm.user.first_name}} {{vm.user.last_name}}" />
        </section>
    </div>
  </div>
</article>
