.error {
  color: #ed0b4f;
  align-self: flex-start;
  font-size: .8em; }

input.ng-invalid.ng-touched {
  border-bottom: 2px solid #f9947a; }

textarea.ng-invalid.ng-touched {
  border: 2px solid #f9947a; }

input.ng-valid {
  border-bottom: 2px solid #27bd2d; }

textarea.ng-valid {
  border: 2px solid #27bd2d; }
