<article class="cw-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="cw-card-large mdl-shadow--2dp">
        <h2>{{vm.story.title}}</h2>
        <h4>...Write the Next Chapter...</h4>
        <p class="cw-guidelines">Have you read the <a href="/#/#guidelines" target="_blank">community guidelines</a>?</p>
        <form name="newChapterForm" ng-submit="vm.createChapter(vm.chapter)">
          <input hidden ng-model="vm.chapter.user_id">
          <input hidden ng-model="vm.chapter.story_id">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="title" ng-model="vm.chapter.title" ng-focus="focus" ng-minlength=3 ng-maxlength=30 required>
            <label class="mdl-textfield__label">Title</label>
            <small class="error" ng-show="newChapterForm.title.$error.minlength && newChapterForm.title.$touched && !focus">
              The title must be at least 3 characters long.
            </small>
            <small class="error" ng-show="newChapterForm.title.$error.maxlength && newChapterForm.title.$dirty && !focus">
              The title must be less than 30 characters long.
            </small>
          </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="materialize-textarea" name="body" type="text" rows="20" ng-model="vm.chapter.body" ng-minlength=100 ng-maxlength=3000 required></textarea>
          </div>
          <small class="error" ng-show="newChapterForm.body.$error.minlength && newChapterForm.body.$dirty">
            The body must be at least 100 characters long.
          </small>
          <small class="error" ng-show="newChapterForm.body.$error.maxlength && newChapterForm.body.$dirty">
            The body must be less than 3000 characters long.
          </small>
          <input type='file' />
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent cw-form-button" type="submit">
            Submit
          </button>
        </form>

        <p class="cw-chapters-header"><span class="title">Latest Chapter: </span>{{vm.last_chapter.title}}</p>
        <p class="cw-chapter-body">{{vm.last_chapter.body}}</p>
      </div>
    </div>
  </div>
</article>
