<div class="container full-page-container">
  <h1>Start a New Story</h1>
  <p>Have you read the <a ui-sref="guidelines" target="_blank">community guidelines</a>?</p>
  <form>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="title" placeholder="Name your story." pattern="" ng-model={{story.title}}>
      <label class="mdl-textfield__label" for="title">Title</label>
      <span class="mdl-textfield__error">Input is not correct!</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="summary" placeholder="Just a sentence. Update this at any time." pattern="" ng-model={{story.summary}}>
      <label class="mdl-textfield__label" for="summary">Summary</label>
      <span class="mdl-textfield__error">Input is not correct!</span>
    </div>
    <label for="genre">Genre</label>
    <select class="" ng-model={{story.genre}}>
      <option>Let's see what happens!</option>
      <option>Children's</option>
      <option>Comedy</option>
      <option>Drama</option>
      <option>Fantasy</option>
      <option>Historical Fiction</option>
      <option>Horror</option>
      <option>Mystery</option>
      <option>Romance</option>
      <option>Satire</option>
      <option>Tragedy</option>
    </select>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Get Started
    </button>
  </form>
</div>
