<article class="cw-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="cw-card-large mdl-shadow--2dp">
          <p class="editing-label">Editing Details for:</p>
          <h2>{{vm.story.title}}</h2>
          <p>Have you read the <a href="/#/#guidelines" target="_blank">community guidelines</a>?</p>
        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" ng-model="vm.story.title">
            <label class="mdl-textfield__label">Title</label>
            <!-- <span class="mdl-textfield__error">Input is not correct!</span> -->
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" ng-model="vm.story.summary">
            <label class="mdl-textfield__label">Summary</label>
            <!-- <span class="mdl-textfield__error">Input is not correct!</span> -->
          </div>

          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
            <select class="mdl-selectfield__select" id="genre" ng-model="vm.story.genre">
              <option>Let's see what happens!</option>
              <option>Children's</option>
              <option>Comedy</option>
              <option>Drama</option>
              <option>Fantasy</option>
              <option>Historical Fiction</option>
              <option>Horror</option>
              <option>Mystery</option>
              <option>Romance</option>
              <option>Satire</option>
              <option>Tragedy</option>
            </select>
            <label class="mdl-selectfield__label" for="genre">Genre</label>
          </div>

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent cw-form-button">Update {{vm.story.title}}</button>
        </form>
      </div>
    </div>
  </div>
</article>
