<article class="cw-container">
  <h1>Recent Stories</h1>
  <div class="mdl-grid">
    <div class="mdl-cell" ng-repeat="story in vm.stories">
      <div class="demo-card-square mdl-card cw-card mdl-shadow--2dp">
      <div class="mdl-card__title" ng-style="{ 'background-image' : 'url({{story.coverImage}})' }">
        <h2 class="mdl-card__title-text">{{story.title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p class="genre"><span class="title"> Genre: </span>{{story.genre}} </p>
        <p class="summary"><span class="title"> Summary: </span>{{story.summary}}</p>
        <p class="cw-last-contribution"><span class="title">Latest: </span> ... something something something something something something something something something something </p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a ui-sref="story_detail({id: story.storyId})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Read More
        </a>
      </div>
    </div>
  </div>
</article>
