<article class="cw-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="cw-card-large mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand cw-story-header">
        <h2 class="mdl-card__title-text">{{vm.story.title}}</h2>
        <section>
          <a ng-click="vm.favoriteToggle()"><i ng-show="!vm.favorite" class="material-icons cw-favorite">favorite_border</i></a>
          <a ng-click="vm.favoriteToggle()"><i ng-show="vm.favorite" class="material-icons cw-favorite">favorite</i></a>
        </section>
      </div>
      <div class="mdl-card__supporting-text">
        <section class="cw-story-details">
          <p class="owner"><span class="title">Started by:</span> {{vm.story.user}}</p>
          <p class="genre"><span class="title">Genre:</span> {{vm.story.genre}}</p>
        </section>
        <img class="cw-story-cover" src="{{vm.story.cover}}" alt="{{vm.story.title}}" />
        <p class="summary"><span class="title"> Starting Point: </span>{{vm.story.summary}}</p>
        <section ng-repeat="chapter in vm.story.chapters">
          <p class="chapter"><span class="title">{{chapter.title}}</span></p>
          <p>... {{chapter.body}} ...</p>
        </section>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a ui-sref="chapter_new({storyId: vm.story.id})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Contribute
        </a>
      </div>
    </div>
  </div>
</article>
