<!-- Splash Section -->
<section id="intro">
  <img src="/assets/main/cw-logo.png" alt="CollaboWrite" />
  <h2>Tell Stories Together</h2>
  <a type="button" class="btn-hero" ui-sref="stories">Browse Stories</a>
</section>

<!-- Features Section -->
<section id="about">
  <h2>CollaboWrite is an open storytelling platform.</h2>
  <div class="features">
    <div class="feature idea">
      <i class="material-icons">lightbulb_outline</i>
      <p>Start with an Idea</p>
    </div>
    <div class="feature contribute">
      <i class="material-icons ">create</i>
      <p>Contribute to a Story</p>
    </div>
    <div class="feature share">
      <i class="material-icons">people_outline</i>
      <p>Share with Friends</p>
    </div>
  </div>
</section>

<!-- Process Section -->
<section id="howitworks">
  <h2>How it Works</h2>
  <p>This is how this works!</p>
</section>

<!-- Community Guidelines Section -->
<section id="guidelines">
  <h2>Community Guidelines</h2>
  <ul>
    <li>Create as many stories as you would like, but you can only check out one at a time.</li>
    <li>Check out a story for a maximum of 24 hours. After the alotted time limit, the story will automatically be unlocked and your unsaved work will be lost.</li>
    <li>You may not check out a story two consecutive times unless there is a 24 hour period between checkouts.</li>
    <li>A story is locked while in edit mode and remains locked until the story owner approves or rejects pending contributions. The owner does not have a time limit to approve the contribution.</li>
    <li>If the genre has been specified, try to adhere to it, even loosely. The story owner has the right to reject your contribution for any reason.</li>
    <li>Don't be an ass. You can be banned.</li>
  </ul>
</section>
