.error {
  color: rgba(237, 11, 79, 1);
  align-self: flex-start;
  font-size: .8em;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid rgba(249, 148, 122, 1);
}

textarea.ng-invalid.ng-touched {
  border: 2px solid rgba(249, 148, 122, 1);
}

input.ng-valid {
  border-bottom: 2px solid rgba(39, 189, 45, 1);
}

textarea.ng-valid  {
  border: 2px solid rgba(39, 189, 45, 1);
}
